* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 15px 0;
}

a:hover,
a:focus {
  color: #000144;
  text-decoration: underline;
  text-decoration-color: #FD4A03;
  /* Underlining when hovering over a link */
}


body {}

body h1 {}

body h2 {}

#hero {}




.logo {
  width: auto;
  float: left;
  padding-top: 5px;
  height: 60px;
  padding-left: 25px;
}


.container333 {
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}



.row::after {
  content: "";
  clear: both;
  display: block;
}




  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%;
    /* Full width */
    padding: 12px 20px;
    /* Some padding */
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /* Gray border */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    width: 30%;
    background-color: #4A4A4A;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin: auto;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #FD4A03;
  }



  /* ==============================
Medium devices (640px and larger)
================================= */
  @media only screen and (min-width: 640px) {
    header {
      padding: 20px 0 13px;
    }


    [class*="col-"] {
      float: left;
      padding: 20px;
    }

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
      width: 100%;
      /* Full width */
      padding: 12px 20px;
      /* Some padding */
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      /* Gray border */
      box-sizing: border-box;
      /* Make sure that padding and width stays in place */
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
      width: 25%;
      background-color: #4A4A4A;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      margin: auto;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
      background-color: #FD4A03;
    }

    /* Add a background color and some padding around the form */
    .con_container {
      padding: 50px 15px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  /* ==============================
Large devices (1024px or larger)
================================= */
  @media only screen and (min-width: 1024px) {}

  /* ==============================
X-large devices (1440px or larger)
================================= */
  @media only screen and (min-width: 1440px) {}

  /* ==============================
Extra-large devices (1920px or larger)
================================= */
  @media only screen and (min-width: 1920px) {}
